.Desktop {

position: relative;
width: 1440px;
height: 5532px;

background: #000000;


}

.footer {

position: absolute;
width: 1440px;
height: 150px;
left: 0px;
top: 5382px;



}

.social-list {

position: absolute;
width: 188px;
height: 50px;
left: 1232px;
top: 50px;



}

.inst1 {

position: absolute;
width: 32px;
height: 32px;
left: 0px;
top: 9px;

}

.Vector {

position: absolute;
left: 8.32%;
right: 8.38%;
top: 8.33%;
bottom: 8.37%;

background: #FFFFFF;


}

.fb1 {

position: absolute;
width: 32px;
height: 32px;
left: 52px;
top: 9px;



}

.Vector {

position: absolute;
left: 25%;
right: 22.92%;
top: 8.33%;
bottom: 8.33%;

background: #FFFFFF;


}

.tw1 {

position: absolute;
width: 32px;
height: 32px;
left: 104px;
top: 9px;



}

.Vector {

position: absolute;
left: 8.34%;
right: 8.33%;
top: 16.67%;
bottom: 15.63%;

background: #FFFFFF;


}

.pinterest1 {

position: absolute;
width: 32px;
height: 32px;
left: 156px;
top: 9px;



}

.Vector {

position: absolute;
left: 8.48%;
right: 8.48%;
top: 8.33%;
bottom: 8.33%;

background: #FFFFFF;


}

.Rolling Scopes School {

position: absolute;
height: 50px;
left: 42.71%;
right: 42.64%;
top: calc(50% - 50px/2);

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
}

.identical to box height, or 250% {

color: #FFFFFF;



}

.footer-data {

position: absolute;
height: 50px;
left: 1.39%;
right: 85.97%;
top: calc(50% - 50px/2);



}

.year2022 {

position: absolute;
height: 50px;
left: 21.43%;
right: 51.65%;
top: calc(50% - 50px/2);

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
}
/*
.identical to box height, or 250% {
color: #FFFFFF;

}
*/
.copy_right {

position: absolute;
height: 50px;
left: 0%;
right: 89.56%;
top: calc(50% - 50px/2);

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
}

/*
.identical to box height, or 250% {

color: #FFFFFF;

}
*/

.github {

position: absolute;
height: 50px;
left: 59.34%;
right: 7.14%;
top: calc(50% - 50px/2);

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
}

.identical to box height, or 250% {

color: #FFFFFF;



}

.contacts {

position: absolute;
width: 1440px;
height: 700px;
left: 0px;
top: 4682px;

background: url(contacts-bg.jpg);


}

.contacts-container {

position: absolute;
width: 450px;
height: 445px;
left: 970px;
top: 60px;



}

.Rectangle {

position: absolute;
height: 50px;
left: 67.36%;
right: 1.39%;
top: 250px;

background: rgba(0, 0, 0, 0.5);
border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;


}

.btn {

position: absolute;
height: 55px;
left: 67.36%;
right: 17.36%;
top: 450px;



}

.Rectangle {

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

background: #BDAE82;
border-radius: 0px;


}

.Send message {

position: absolute;
width: 140px;
height: 40px;
left: calc(50% - 140px/2);
top: 8px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {
text-align: center;

color: #000000;



}

.Phone {

position: absolute;
width: 204px;
height: 40px;
left: 990px;
top: 255px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {

color: #BDAE82;



}

.Rectangle {

position: absolute;
height: 50px;
left: 67.36%;
right: 1.39%;
top: 180px;

background: rgba(0, 0, 0, 0.5);
border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;


}

.E-mail {

position: absolute;
width: 204px;
height: 40px;
left: 990px;
top: 185px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {

color: #BDAE82;



}

.Rectangle {

position: absolute;
height: 100px;
left: 67.36%;
right: 1.39%;
top: 320px;

background: rgba(0, 0, 0, 0.5);
border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;


}

.Message {

position: absolute;
width: 204px;
height: 40px;
left: 990px;
top: 325px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {

color: #BDAE82;



}

.contacts-title {

position: absolute;
width: 450px;
height: 80px;
left: calc(50% - 450px/2 + 475px);
top: 60px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80px;
}

.identical to box height, or 200% {

color: #BDAE82;



}

.price {

position: absolute;
width: 1440px;
height: 845px;
left: 0px;
top: 3837px;



}

.price-items {

position: absolute;
width: 1400px;
height: 505px;
left: 20px;
top: 240px;



}

.price-item {

position: absolute;
height: 505px;
left: 67.36%;
right: 1.39%;
top: 240px;



}

.Rectangle {

position: absolute;
height: 505px;
left: 0%;
right: 0%;
top: 0px;

border: 3px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;


}

.Frame {

position: absolute;
height: 55px;
left: 25.56%;
right: 25.56%;
top: 407px;



}

.Rectangle {

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

background: #BDAE82;
border-radius: 0px;


}

.Order shooting {

position: absolute;
width: 142px;
height: 40px;
left: calc(50% - 142px/2 + 0px);
top: 8px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {
text-align: center;

color: #000000;



}

.1000 $ {

position: absolute;
width: 81px;
height: 48px;
left: calc(50% - 81px/2 - 0.5px);
top: 119px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 48px;
}

.identical to box height, or 200% {
text-align: center;

color: #BDAE82;



}

.Frame {

position: absolute;
height: 180px;
left: 9.48%;
right: 9.64%;
top: 187px;



}

.300 photos in color {

position: absolute;
width: 166px;
height: 36px;
left: calc(50% - 166px/2 - 0.64px);
top: 36px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.Readiness 1 week {

position: absolute;
width: 151px;
height: 36px;
left: calc(50% - 151px/2 + 0.86px);
top: 108px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.Three locations or more {

position: absolute;
width: 203px;
height: 36px;
left: calc(50% - 203px/2 - 0.14px);
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.Make up, visage, hairstyle {

position: absolute;
width: 221px;
height: 36px;
left: calc(50% - 221px/2 + 0.86px);
top: 144px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.50 photos in retouch {

position: absolute;
width: 177px;
height: 36px;
left: calc(50% - 177px/2 - 0.14px);
top: 72px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.Gold {

position: absolute;
width: 67px;
height: 56px;
left: calc(50% - 67px/2 + 0.5px);
top: 43px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 56px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.price-item {

position: absolute;
height: 505px;
left: 34.38%;
right: 34.38%;
top: 240px;



}

.Rectangle {

position: absolute;
height: 505px;
left: 0%;
right: 0%;
top: 0px;

border: 3px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;


}

.Frame {

position: absolute;
height: 55px;
left: 25.56%;
right: 25.56%;
top: 407px;



}

.Rectangle {

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

background: #BDAE82;
border-radius: 0px;


}

.Order shooting {

position: absolute;
width: 142px;
height: 40px;
left: calc(50% - 142px/2);
top: 8px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {
text-align: center;

color: #000000;



}

.700 $ {

position: absolute;
width: 68px;
height: 48px;
left: calc(50% - 68px/2);
top: 119px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 48px;
}

.identical to box height, or 200% {
text-align: center;

color: #BDAE82;



}

.Frame {

position: absolute;
height: 180px;
left: 9.55%;
right: 9.56%;
top: 187px;



}

.200 photos in color {

position: absolute;
width: 165px;
height: 36px;
left: calc(50% - 165px/2 + 0.52px);
top: 36px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.Readiness 1-2 weeks {

position: absolute;
width: 179px;
height: 36px;
left: calc(50% - 179px/2 + 0.52px);
top: 108px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.One or two locations {

position: absolute;
width: 176px;
height: 36px;
left: calc(50% - 176px/2 - 0.98px);
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.Make up, visage {

position: absolute;
width: 138px;
height: 36px;
left: calc(50% - 138px/2 + 0.02px);
top: 144px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.20 photos in retouch {

position: absolute;
width: 177px;
height: 36px;
left: calc(50% - 177px/2 - 0.48px);
top: 72px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.Premium {

position: absolute;
width: 132px;
height: 56px;
left: calc(50% - 132px/2);
top: 43px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 56px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.price-item {

position: absolute;
height: 505px;
left: 1.39%;
right: 67.36%;
top: 240px;



}

.Rectangle {

position: absolute;
height: 505px;
left: 0%;
right: 0%;
top: 0px;

border: 3px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;


}

.Frame {

position: absolute;
height: 55px;
left: 25.56%;
right: 25.56%;
top: 407px;



}

.Rectangle {

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

background: #BDAE82;
border-radius: 0px;


}

.Order shooting {

position: absolute;
width: 142px;
height: 40px;
left: calc(50% - 142px/2 + 0px);
top: 8px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {
text-align: center;

color: #000000;



}

.500 $ {

position: absolute;
width: 69px;
height: 48px;
left: calc(50% - 69px/2 + 0.5px);
top: 119px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 48px;
}

.identical to box height, or 200% {
text-align: center;

color: #BDAE82;



}

.Frame {

position: absolute;
height: 180px;
left: 9.63%;
right: 9.48%;
top: 187px;



}

.120 photos in color {

position: absolute;
width: 162px;
height: 36px;
left: calc(50% - 162px/2 - 0.33px);
top: 36px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.Readiness 2-3 weeks {

position: absolute;
width: 183px;
height: 36px;
left: calc(50% - 183px/2 + 0.17px);
top: 108px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.One location {

position: absolute;
width: 108px;
height: 36px;
left: calc(50% - 108px/2 - 0.33px);
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.Make up, visage {

position: absolute;
width: 138px;
height: 36px;
left: calc(50% - 138px/2 - 0.33px);
top: 144px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.12 photos in retouch {

position: absolute;
width: 174px;
height: 36px;
left: calc(50% - 174px/2 - 0.33px);
top: 72px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.Standard {

position: absolute;
width: 128px;
height: 56px;
left: calc(50% - 128px/2);
top: 43px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 56px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.section-title {

position: absolute;
height: 80px;
left: 25.69%;
right: 25.69%;
top: 100px;



}

.section-title-line {

position: absolute;
height: 2px;
left: 0%;
right: 0%;
top: 39px;

background: #BDAE82;
border-radius: 0px;


}

.Rectangle {

position: absolute;
height: 80px;
left: 39.86%;
right: 39.86%;
top: 0px;

background: #000000;
border-radius: 0px;


}

.Price {

position: absolute;
width: 102px;
height: 80px;
left: calc(50% - 102px/2);
top: 0px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80px;
}

.identical to box height, or 200% {
text-align: center;

color: #BDAE82;



}

.video {

position: absolute;
width: 1440px;
height: 945px;
left: 0px;
top: 2892px;



}

.section-title {

position: absolute;
height: 80px;
left: 25.69%;
right: 25.69%;
top: 100px;



}

.section-title-line {

position: absolute;
height: 2px;
left: 0%;
right: 0%;
top: 39px;

background: #BDAE82;
border-radius: 0px;


}

.span {

position: absolute;
width: 154px;
height: 80px;
left: calc(50% - 154px/2);
top: 0px;



}

.Rectangle {

position: absolute;
height: 80px;
left: 0%;
right: -1.32%;
top: 0px;

background: #000000;
border-radius: 0px;


}

.Video {

position: absolute;
width: 114px;
height: 80px;
left: calc(50% - 114px/2);
top: 0px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80px;
}

.identical to box height, or 200% {
text-align: center;

color: #BDAE82;



}

.video-player {

position: absolute;
width: 1400px;
height: 705px;
left: 20px;
top: 240px;

background: url(video-bg.jpg);


}

.Play_hover {

position: absolute;
width: 129.86px;
height: 130px;
left: 656px;
top: 528px;



}

.Play_hover {

position: absolute;
left: 45.56%;
right: 45.43%;
top: 55.87%;
bottom: 30.37%;

background: #FFFFFF;


}

.portfolio {

position: absolute;
width: 1440px;
height: 1500px;
left: 0px;
top: 1392px;



}

.portfolio-items {

position: absolute;
height: 1145px;
left: 1.39%;
right: 1.39%;
top: 355px;



}

.portfolio-img {

position: absolute;
height: 560px;
left: 0%;
right: 67.86%;
top: 0px;

background: url(.jpg);
border-radius: 0px;


}

.portfolio-img {

position: absolute;
height: 560px;
left: 33.93%;
right: 33.93%;
top: 0px;

background: url(.jpg);
border-radius: 0px;


}

.portfolio-img {

position: absolute;
height: 560px;
left: 67.86%;
right: 0%;
top: 0px;

background: url(.jpg);
border-radius: 0px;


}

.portfolio-img {

position: absolute;
height: 560px;
left: 0%;
right: 67.86%;
top: 585px;

background: url(.jpg);
border-radius: 0px;


}

.portfolio-img {

position: absolute;
height: 560px;
left: 33.93%;
right: 33.93%;
top: 585px;

background: url(.jpg);
border-radius: 0px;


}

.portfolio-img {

position: absolute;
height: 560px;
left: 67.86%;
right: 0%;
top: 585px;

background: url(.jpg);
border-radius: 0px;


}

.portfolio-btns {

position: absolute;
width: 895px;
height: 55px;
left: 272px;
top: 240px;



}

.btn {

position: absolute;
width: 220px;
height: 55px;
left: calc(50% - 220px/2 - 338px);
top: calc(50% - 55px/2 - 482.5px);



}

.Rectangle {

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;


}

.Winter {

position: absolute;
width: 62px;
height: 40px;
left: calc(50% - 62px/2);
top: calc(50% - 40px/2 + 0.5px);

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {
text-align: center;

color: #BDAE82;



}

.btn {

position: absolute;
width: 220px;
height: 55px;
left: calc(50% - 220px/2 - 113px);
top: calc(50% - 55px/2 - 482.5px);



}

.Rectangle {

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;


}

.Spring {

position: absolute;
width: 62px;
height: 40px;
left: calc(50% - 62px/2);
top: calc(50% - 40px/2 + 0.5px);

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {
text-align: center;

color: #BDAE82;



}

.btn {

position: absolute;
width: 220px;
height: 55px;
left: calc(50% - 220px/2 + 112px);
top: calc(50% - 55px/2 - 482.5px);



}

.Rectangle {

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;


}

.Summer {

position: absolute;
width: 81px;
height: 40px;
left: calc(50% - 81px/2 - 0.5px);
top: calc(50% - 40px/2 + 0.5px);

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {
text-align: center;

color: #BDAE82;



}

.btn {

position: absolute;
width: 220px;
height: 55px;
left: calc(50% - 220px/2 + 337px);
top: calc(50% - 55px/2 - 482.5px);



}

.Rectangle {

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

background: #BDAE82;
border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;


}

.Autumn {

position: absolute;
width: 74px;
height: 40px;
left: calc(50% - 74px/2);
top: calc(50% - 40px/2 + 0.5px);

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {
text-align: center;

color: #000000;



}

.section-title {

position: absolute;
height: 80px;
left: 25.69%;
right: 25.69%;
top: 100px;



}

.section-title-line {

position: absolute;
height: 2px;
left: 0%;
right: 0%;
top: 39px;

background: #BDAE82;
border-radius: 0px;


}

.span {

position: absolute;
width: 220px;
height: 80px;
left: calc(50% - 220px/2 - 8px);
top: 0px;



}

.Frame {

position: absolute;
height: 80px;
left: 0%;
right: -5.45%;
top: 0px;



}

.Rectangle {

position: absolute;
height: 80px;
left: 2.59%;
right: 2.16%;
top: 0px;

background: #000000;
border-radius: 0px;


}

.Portfolio {

position: absolute;
width: 181px;
height: 80px;
left: calc(50% - 181px/2 + 0.5px);
top: 0px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80px;
}

.identical to box height, or 200% {
text-align: center;

color: #BDAE82;



}

.skills {

position: absolute;
width: 1440px;
height: 482px;
left: 0px;
top: 910px;



}

.skills-items {

position: absolute;
height: 242px;
left: 1.39%;
right: 1.39%;
top: 240px;



}

.skills-item {

position: absolute;
height: 240px;
left: 77.14%;
right: 0%;
top: 0px;



}

.Audio {

position: absolute;
width: 280px;
height: 40px;
left: calc(50% - 280px/2);
top: 100px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.Professional sounds recording for video, advertising, portfolio {

position: absolute;
width: 280px;
height: 72px;
left: calc(50% - 280px/2);
top: 160px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.or 200% {
text-align: center;

color: #FFFFFF;



}

.mic 1 {

position: absolute;
width: 32px;
height: 50px;
left: 144px;
top: 0px;



}

.Vector {

position: absolute;
left: 0%;
right: -0.43%;
top: 49.87%;
bottom: 0%;

background: #CCBA8D;


}

.Vector {

position: absolute;
left: 18.32%;
right: 17.73%;
top: 0.16%;
bottom: 29.65%;

background: #BDAE82;


}

.skills-item {

position: absolute;
height: 240px;
left: 51.43%;
right: 25.71%;
top: 0px;



}

.Retouch {

position: absolute;
width: 280px;
height: 40px;
left: calc(50% - 280px/2);
top: 100px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.I strive to make photography surpass reality {

position: absolute;
width: 280px;
height: 72px;
left: calc(50% - 280px/2);
top: 160px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.or 200% {
text-align: center;

color: #FFFFFF;



}

.image 1 {

position: absolute;
width: 66px;
height: 50px;
left: 127px;
top: 0px;



}

.Vector {

position: absolute;
left: 0%;
right: -0.25%;
top: -0.01%;
bottom: 0.02%;

background: #BDAE82;


}

.Vector {

position: absolute;
left: 32.67%;
right: 50.74%;
top: 18.69%;
bottom: 57.62%;

background: #CCBA8D;


}

.skills-item {

position: absolute;
height: 240px;
left: 25.71%;
right: 51.43%;
top: 0px;



}

.Video shooting {

position: absolute;
width: 280px;
height: 40px;
left: calc(50% - 280px/2);
top: 100px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.Capture your moments so that they always stay with you {

position: absolute;
width: 280px;
height: 72px;
left: calc(50% - 280px/2);
top: 160px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.or 200% {
text-align: center;

color: #FFFFFF;



}

.video 1 {

position: absolute;
width: 60px;
height: 50px;
left: 130px;
top: 0px;



}

.Vector {

position: absolute;
left: -0.02%;
right: 0.26%;
top: -0.03%;
bottom: -0.1%;

background: #BDAE82;


}

.skills-item {

position: absolute;
height: 240px;
left: 0%;
right: 77.14%;
top: 0px;



}

.Digital photography {

position: absolute;
width: 280px;
height: 40px;
left: calc(50% - 280px/2);
top: 100px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {
text-align: center;

color: #FFFFFF;



}

.High-quality photos in the studio and on the nature {

position: absolute;
width: 280px;
height: 72px;
left: calc(50% - 280px/2);
top: 160px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
}

.or 200% {
text-align: center;

color: #FFFFFF;



}

.camera 1 {

position: absolute;
width: 62px;
height: 50px;
left: 129px;
top: 0px;



}

.Vector {

position: absolute;
left: 0%;
right: 0.26%;
top: 17.47%;
bottom: -0.09%;

background: #CCBA8D;


}

.Vector {

position: absolute;
left: 31.5%;
right: 31.81%;
top: -0.07%;
bottom: 87.67%;

background: #CCBA8D;


}

.Vector {

position: absolute;
left: 26.55%;
right: 26.88%;
top: 29.84%;
bottom: 12.4%;

background: #CCBA8D;


}

.Vector {

position: absolute;
left: 13.37%;
right: 80.03%;
top: 34.02%;
bottom: 57.76%;

background: #BDAE82;


}

.Vector {

position: absolute;
left: 46.57%;
right: 36.85%;
top: 42.26%;
bottom: 37.13%;

background: #CCBA8D;


}

.section-title {

position: absolute;
height: 80px;
left: 25.69%;
right: 25.69%;
top: 100px;



}

.section-title-line {

position: absolute;
height: 2px;
left: 0%;
right: 0%;
top: 39px;

background: #BDAE82;
border-radius: 0px;


}

.span {

position: absolute;
width: 152px;
height: 80px;
left: calc(50% - 152px/2);
top: 0px;



}

.Rectangle {

position: absolute;
height: 80px;
left: 0%;
right: 0%;
top: 0px;

background: #000000;
border-radius: 0px;


}

.Skills {

position: absolute;
width: 112px;
height: 80px;
left: calc(50% - 112px/2);
top: 0px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80px;
}

.identical to box height, or 200% {
text-align: center;

color: #BDAE82;



}

.bg {

position: absolute;
width: 1440px;
height: 910px;
left: 0px;
top: 0px;

background: url(header-bg.jpg);


}

.hero {

position: absolute;
height: 330px;
left: 5.56%;
right: 59.72%;
top: 250px;



}

.btn {

position: absolute;
height: 55px;
left: 0%;
right: 56%;
top: 275px;



}

.Rectangle {

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

background: #BDAE82;
border-radius: 0px;


}

.Hire me {

position: absolute;
width: 75px;
height: 40px;
left: calc(50% - 75px/2 + 0.5px);
top: 8px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}

.identical to box height, or 200% {
text-align: center;

color: #000000;



}

.hero-text {

position: absolute;
height: 120px;
left: 0%;
right: 6%;
top: 130px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
}

.or 200% {

color: #FFFFFF;



}

.hero-title {

position: absolute;
height: 120px;
left: 0%;
right: 0%;
top: 0px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 120px;
}

.identical to box height, or 200% {

color: #FFFFFF;



}

.header {

position: absolute;
width: 1440px;
height: 90px;
left: 0px;
top: 0px;



}

.switch-lng {

position: absolute;
height: 50px;
left: 93.75%;
right: 1.39%;
top: 20px;



}

./ {

position: absolute;
width: 8px;
height: 50px;
left: calc(50% - 8px/2 + 3px);
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 50px;
}

.identical to box height, or 250% {
text-align: center;

color: #FFFFFF;



}

.en {

position: absolute;
width: 25px;
height: 50px;
left: calc(50% - 25px/2 - 22.5px);
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 50px;
}

.identical to box height, or 250% {
text-align: center;

color: #BDAE82;



}

.ru {

position: absolute;
width: 22px;
height: 50px;
left: calc(50% - 22px/2 + 26px);
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 50px;
}

.identical to box height, or 250% {
text-align: center;

color: #FFFFFF;



}

.nav {

position: absolute;
height: 50px;
left: 59.03%;
right: 6.25%;
top: 20px;



}

.Skills {

position: absolute;
height: 50px;
left: 6%;
right: 84.2%;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
}

.identical to box height, or 250% {

color: #FFFFFF;



}

.Video {

position: absolute;
height: 50px;
left: 44%;
right: 45%;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
}

.identical to box height, or 250% {

color: #FFFFFF;



}

.Contacts {

position: absolute;
height: 50px;
left: 76.6%;
right: 6.2%;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
}

.identical to box height, or 250% {

color: #FFFFFF;



}

.Portfolio {

position: absolute;
height: 50px;
left: 21.8%;
right: 62%;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
}

.identical to box height, or 250% {

color: #FFFFFF;



}

.Price {

position: absolute;
height: 50px;
left: 61%;
right: 29.4%;
top: 0px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
}

.identical to box height, or 250% {

color: #FFFFFF;



}

.logo {

position: absolute;
width: 50px;
height: 50px;
left: 20px;
top: 20px;



}

.logo 1 {

position: absolute;
width: 50px;
height: 50px;
left: 20px;
top: 20px;



}

.Vector {

position: absolute;
left: 0%;
right: 0%;
top: 10%;
bottom: 10%;

background: #FFFFFF;
